body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
}

.card {
    background: #fff;
    padding: 40px 40px 32px 40px;
    border-radius: 14px;
    box-shadow: 0 0 4px 1px rgba(24, 0, 29, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 100%;
    max-width: 650px;
    transition: 0.5s;
}


.img {
  width: 450px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  border-radius: 8px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo {
    font-size: 24px;
    font-weight: 700;
    color: #2f0d3a;
    margin-bottom: 3px;
    letter-spacing: 0.01em;
    text-align: center;
}


.conteudo-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

select {
  padding: 10px;
  border: 2px solid #BF25F7;
  border-radius: 8px;
  background-color: white;
  color: #4d0468;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}

select:focus {
  border-color: #4d0468;
  box-shadow: 0 0 0 2px rgba(191, 37, 247, 0.3);
}

.selecionar {
  padding: 8px 12px;
  background-color: #BF25F7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.selecionar:hover {
  background-color: #a320d2;
  transform: scale(1.02);
}

.selecionar:active {
  transform: scale(0.98);
}

